body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.title{
  margin : auto;
  padding-top:15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  color : black;
  font-weight: bold;
  border: solid;
  background-color: whitesmoke;
  border-radius: 20px;
  width : 70%;
}

.text_paragraph{
  
  margin: auto;
  text-align: center;
  justify-content: center;
  color : #f6f4e6;
  width : 80%;
}



.navMenu{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.navMenu a {
    color: #f6f4e6;
    margin: 20px 0 20px 0;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    text-align: center;
}

.navMenu a:hover {
  color: #3ae3fd;;
}

#presentation-text{
  font-style: italic;
}

.experience{
  border: solid;
  border-color: #f6f4e6;
  background-color: white;
  color: black;
  margin: auto;
  text-align: center;
  width: 70%;
  border-radius:20px;

}
.experience img{
  width: 30%;
  height: 30%;
  float: left;
  border-radius: 20px;
}


.liste_experience{
  justify-content: center;
  margin-top: 30px;
  color: #f6f4e6;
  display: flex;
  flex-wrap: wrap;
  gap : 20px

}

.btn{
  background-color: #272727;
  color: azure;
  border: solid;
  border-color:azure;
  border-radius: 30px;
}

.btn:hover{
  background-color: azure;
  color: #272727;
  border-color:#272727;
}

.contact{
  margin-top: 10px;
  margin-bottom: 30px;
}
.contact a img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.CVS{
  margin-top: 10px;
  margin-bottom: 50px;
}
.CVS img{
  width: 20%;
  height: 10%;
}

.text_paragraph p{
  color: black;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid;
  border-color: #f6f4e6;
  border-radius: 20px;
}



