.projet{
  color: black;
  background-color: white;
  text-align: center;
  max-width: var(--max-card-size);
  border: solid whitesmoke;
  border-radius: 15px;

    
}

.projet:hover{
  transform: scale(1.01);
}

.liste_projet{
  --max-card-size: 30rem;
  --content-spacing: 0.825rem;
  --section-spacing: 1rem;

  margin-top: 30px;
  display: flex;
  gap: var(--section-spacing);
  flex-wrap: wrap;
  justify-content: center;
}


.img_prj{
  width: 70%;
  height: 40%;
}


@media only screen and (min-width: 320px){
  .liste_projet{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .projet{
  text-align: center;
  margin: auto;
  height: auto;
  width: 100%;
  /* border-radius: 30px; */
}
  .img_prj{
    width: 50%;
   height: 50%;
}
}

